# for automatic starting as a Service:

# create user without sudo group access ('web' in this example)
#, but with necessary pi groups access (usermod -G [username],gpio,i2c,spi,input,video [username])

# put into /lib/systemd/system

# start:
# sudo systemctl start pifeeder

# start at startup:
# sudo systemctl enable pifeeder

# access logs with: journalctl -f -u pifeeder.service

[Unit]
Description=pifeeder
After=network.target

[Service]
User=web
Type=simple

SyslogIdentifier=NodeJS pifeeder
Environment=NODE_ENV=production

WorkingDirectory=/home/pi/pifeeder
ExecStart=/usr/local/bin/node server.js
# restart value can also be 'always'
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
